<%= image_tag @profile.avatar(:thumb) , :size => "150x150" , :class => "img-responsive", :style => "overflow:hidden; border-radius:90%"%>
<br>
<p><b><%= @profile.profile_name %><b> </p>
<% if !@profile.level_of_education.blank? %>
<p>- <%= @profile.level_of_education %>
<%end%>
<% if !@profile.field.blank? %>
<br>- <%= @profile.field %>
<%end%>
<% if !@profile.sub_field.blank? %>
گرایش <%= @profile.sub_field %>
<%end%>
<% if !@profile.entrance_year.blank? %>
  <br>- ورودی <%= @profile.entrance_year %> </p>
<%end%>
<p>	امتیاز:  <b><%= (User.find_by_id(@profile.user_id)).points%></b> </p>
<p>	سطح:  <b><%= (User.find_by_id(@profile.user_id)).level%></b> </p>

