<h1>Listing confarticles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Abstract</th>
      <th>En field</th>
      <th>Fa field</th>
      <th>Conf name</th>
      <th>Conf date</th>
      <th>Conf location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @confarticles.each do |confarticle| %>
      <tr>
        <td><%= confarticle.user_id %></td>
        <td><%= confarticle.title %></td>
        <td><%= confarticle.abstract %></td>
        <td><%= confarticle.en_field %></td>
        <td><%= confarticle.fa_field %></td>
        <td><%= confarticle.conf_name %></td>
        <td><%= confarticle.conf_date %></td>
        <td><%= confarticle.conf_location %></td>
        <td><%= link_to 'Show', confarticle %></td>
        <td><%= link_to 'Edit', edit_confarticle_path(confarticle) %></td>
        <td><%= link_to 'Destroy', confarticle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Confarticle', new_confarticle_path %>
