<div class="col-md-7" style="padding-top:70px;">  
	<%= render partial: "home/flash_messages", flash: flash %> 


	<%= render :partial => 'profiles/leaderboard'%>
<%= render :partial => 'home/add_content' %>
<%= render :partial => 'notifications/new_content' %>
</div>

	<%= render :partial => 'home/points_status' %>		
<body class="bgbook"></body>
